@{
    ViewData["Title"] = "Listofitem";
}


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; height: 30rem;">
                <img class="card-img-top" src="~/img/employee1.jpg" style="height:10vh width:10vw" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> Employee 1 </h5>
                    <a href="~/Description/Samsung" class="btn btn-primary">contact</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 30rem;">
                <img class="card-img-top" src="~/img/employee2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> employee2 </h5>
                    <a href="~/Description/Realme" class="btn btn-primary">Contact</a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;height: 30rem;">
                <img class="card-img-top" src="~/img/employee3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">employee3</h5>
                    <a href="~/Description/RedmiorPoco" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;height: 30rem;">
                <img class="card-img-top" src="~/img/employee4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">employee4 </h5>
                    <a href="~/Description/Iphone" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 30rem;">
                <img class="card-img-top" src="~/img/employee5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">employee5</h5>
                    <a href="~/Description/Oneplus" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 30rem;">
                <img class="card-img-top" src="~/img/employee6.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">employee6</h5>
                    <a href="~/Description/Infinix" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>


