@{
    ViewData["Title"] = "Trendingoftheweek";
}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; height: 38rem;">
                <img class="card-img-top" src="~/img/Ashly.jpg" style="height:10vh width:10vw" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> Ashly Farnandis </h5>
                    <p class="card-text"><h6> smart worker </h6></p>
                    <p style="color:red"> Rs. 17,140</p>
                    <a href="#" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 38rem;">
                <img class="card-img-top" src="~/img/firoz.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Firoz Khan</h5>
                    <p class="card-text"><h6>cool worker </h6></p>
                    <p style="color:red"> Rs. 1,04,857 </p>
                    <a href="#" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
        < <div class="col">
            <div class="card" style="width: 18rem; height: 35rem;">
                <img class="card-img-top" src="~/img/Nimisha.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Nimisha </h5>
                    <p class="card-text"><h6>dedicated woker </h6></p>
                    <p style="color:red"> Rs.1,49,240 </p>
                    <a href="#" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;height: 35rem;">
                <img class="card-img-top" src="~/img/David.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">David Sirish </h5>
                    <p class="card-text"><h6> nice worker </h6></p>
                    <p style="color:red">Rs. 134,999</p>
                    <a href="#" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 38rem;">
                <img class="card-img-top" src="~/img/simon.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> simon latee </h5>
                    <p class="card-text"><h6> good worker </h6></p>
                    <p style="color:red"> Rs. 1,04,857 </p>
                    <a href="#" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;height: 35rem;">
                <img class="card-img-top" src="~/img/reshma.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> reshma Diley</h5>
                    <p class="card-text"><h6>fresher</h6></p>
                    <p style="color:red">Rs. 104,999 </p>
                    <a href="#" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
